body {
  font: 10px sans-serif;
  margin: 0;
}

.line {
  fill: none;
  stroke: #666;
  stroke-width: 1.5px;
}

.area {
  fill: #e7e7e7;
}

#superview {
  width: 100%;
  overflow: hidden;
}

#viz {
    float: right;
    border: 5px;
    width: 60%;
    margin-right: 1%;
    margin-left: 1%;
    background-color: #ffef99;

}

#test {
    float: left;
    border: 5px;
    width: 35%;
    margin-right: 1%;
    margin-left: 1%;

}

svg {
  background-color: #8ac05d;
}